<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties>
		<property name="dialect" value="mysql" />
		<property name="pageSqlId" value=".*PageList$" />
	</properties>

	<typeAliases>
		<typeAlias alias="team" type="com.eq.dao.entity.lottory.Team" />
		<typeAlias alias="game" type="com.eq.dao.entity.lottory.Game" />
		<typeAlias alias="bill" type="com.eq.dao.entity.lottory.Bill" />
		<typeAlias alias="gamebill" type="com.eq.dao.entity.lottory.GameAndBill" />
		<typeAlias alias="basketballgame" type="com.eq.dao.entity.lottory.BasketBallGame" />
		<typeAlias alias="footballbifa" type="com.eq.dao.entity.lottory.FootballBifa" />
		<typeAlias alias="footballbifadetail" type="com.eq.dao.entity.lottory.FootballBifaDetail" />
		<typeAlias alias="beitou" type="com.eq.dao.entity.lottory.Beitou" />
		<typeAlias alias="beitoutemp" type="com.eq.dao.entity.lottory.BeitouTemp" />
		<typeAlias alias="beitougame" type="com.eq.dao.entity.lottory.BeiTouGame" />

		<typeAlias alias="incomecost" type="com.eq.dao.entity.myinfo.IncomeAndCost" />
		<typeAlias alias="account" type="com.eq.dao.entity.myinfo.Account" />
		<typeAlias alias="accounthistory" type="com.eq.dao.entity.myinfo.AccountHistory" />
		<typeAlias alias="plan" type="com.eq.dao.entity.myinfo.Plan" />
		<typeAlias alias="planhistory" type="com.eq.dao.entity.myinfo.PlanHistory" />

		<typeAlias alias="article" type="com.eq.dao.entity.article.Article" />
		<typeAlias alias="articlecomment" type="com.eq.dao.entity.article.ArticleComment" />
		<typeAlias alias="articlesection" type="com.eq.dao.entity.article.ArticleSection" />
		<typeAlias alias="articletag" type="com.eq.dao.entity.article.ArticleTag" />

		<typeAlias alias="user" type="com.eq.dao.entity.system.User" />
		<typeAlias alias="property" type="com.eq.dao.entity.system.Property" />
		<typeAlias alias="role" type="com.eq.dao.entity.system.Role" />
		<typeAlias alias="permission" type="com.eq.dao.entity.system.Permission" />
		<typeAlias alias="resource" type="com.eq.dao.entity.system.Resource" />
		<typeAlias alias="systemrole" type="com.eq.dao.entity.system.SystemRole" />
		<typeAlias alias="systempermission" type="com.eq.dao.entity.system.SystemPermission" />
		<typeAlias alias="userRoleRel" type="com.eq.dao.entity.system.UserRoleRel" />
		<typeAlias alias="rolePermissionRel" type="com.eq.dao.entity.system.RolePermissionRel" />
		
		<typeAlias alias="mathData" type="com.eq.dao.entity.mathModel.MathData" />
		<typeAlias alias="mathModel" type="com.eq.dao.entity.mathModel.MathModel" />
		<typeAlias alias="mathDataRef" type="com.eq.dao.entity.mathModel.MathDataRef" />
		<typeAlias alias="mathModelRef" type="com.eq.dao.entity.mathModel.MathModelRef" />
		
		<typeAlias alias="function" type="com.eq.dao.entity.function.Function" />
	</typeAliases>

	<plugins>
		<plugin interceptor="com.eq.service.mybatis.PageInterceptor" />
	</plugins>
</configuration>
